@model consume_api_bma.Models.Beneficiario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Beneficiario</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="quantidadeDependentes" class="control-label"></label>
                <input asp-for="quantidadeDependentes" class="form-control" />
                <span asp-validation-for="quantidadeDependentes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titularBolsaFamilia.nis" class="control-label"></label>
                <input asp-for="titularBolsaFamilia.nis" class="form-control" />
                <span asp-validation-for="titularBolsaFamilia.nis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titularBolsaFamilia.nome" class="control-label"></label>
                <input asp-for="titularBolsaFamilia.nome" class="form-control" />
                <span asp-validation-for="titularBolsaFamilia.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
