<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-beneficiario.css">
    <title>Login Beneficiário</title>
</head>
<body>
    <!--Área da Familia-->
    <div class="family-group">
        <h1>
            Área do Beneficiário
        </h1>
        <img src="/bma/src/img/family-group.png" alt="">
        <!--Card do login-->
    </div>
    <div class="login-card">
        <div class="login-title">
            <h2>
                Seja bem vindo à sua central de consultas !
            </h2>
        </div>
        <div class="login-text">
            <span>
                Caso esteja cadastrado no progroama, insira seu CPF para acesso à central de consulta do beneficiário
            </span>
        </div>
    <!--Form Login-->
        <form class="form-login" action="">
            <input class="campo-cpf" type="text" id="cpf-beneficiario" name="cpf-beneficiario" value=""><br>
            <input class="submit-buttom" type="submit" value="Enviar">
        </form> 
        <div class="help-text">
            <span>Ainda não é cadastrado ? Acesse o site do CRAS <a href="#"><b>CLICANDO AQUI</b></a> para saber com mais detalhes sobre como participar do Programa Banco de Alimentos</span>
        </div>        
    </div>
</body>
</html>